<extend name='layout:admin-index' />

<block name='content'>

   <div id="mws-container" class="clearfix">
    
    	<!-- Inner Container Start -->
   	<div class="container">
   		<!-- 信息提示 -->
			<include file='layout:info' />
		<!-- 信息提示 -->
		<div class="mws-panel grid_8">
        	<div class="mws-panel-header">
            	<span>添加管理员</span>
            </div>

            <div class="mws-panel-body no-padding">
            	<form class="mws-form" action="__URL__/insert" method='post'>
            		<div class="mws-form-inline">
            			<div class="mws-form-row">
            				<label class="mws-form-label">Email:</label>
            				<div class="mws-form-item">
            					<input type="text" class="small" name='email' placeholder='请输入您要注册的邮箱 例如(xxx@163.com)'>
            				</div>
            			</div>

            			<div class="mws-form-row">
            				<label class="mws-form-label">Pass:</label>
            				<div class="mws-form-item">
            					<input type="password" class="small" name='pass' placeholder='请输入您的登录密码  例如(123456)'>
            				</div>
            			</div>

            			

            		  <div class="mws-button-row">
            			 <input type="submit" value="Submit" class="btn btn-danger">
            			 <input type="reset" value="Reset" class="btn ">
            		  </div>
            	   </form>
             </div>    	
            </div>
        </div>
        <!-- Inner Container End -->
                   
        <!-- Footer -->
        <div id="mws-footer">
        	welcome to myweb
        </div>
    </div>
        
</block>