<extend name='layout:admin-index' />


<block name='content'>

<div id="mws-container" class="clearfix">

<!-- Inner Container Start -->
<div class="container">
	<!-- 信息提示 -->
		<include file='layout:info' />
	<!-- 信息提示 -->
<!-- 管理员列表 -->
	<div class="mws-panel grid_8">
    	<div class="mws-panel-header">
        	<span>
        		<i class="icon-table"></i>管理员列表
        	</span>
        </div>

        <div class="mws-panel-body no-padding">
            <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
            	<form action='__URL__/index' method='get'>
	                <div id="DataTables_Table_1_length" class="dataTables_length">
	                    <label>Show 
	                        <select size="1" name="size" aria-controls="DataTables_Table_1">
		                        <option value="2" <if condition='$_GET["size"] eq 2'></if>>2</option>
		                        <option value="4" <if condition='$_GET["size"] eq 4'></if>>4</option>
		                        <option value="6" <if condition='$_GET["size"] eq 6'></if>>6</option>
		                        <option value="8" <if condition='$_GET["size"] eq 8'></if>>8</option>
	                        </select> entries
	                    </label>
	                </div>

	                <div class="dataTables_filter" id="DataTables_Table_1_filter">
	                    <label>Search: <input value = '{$Think.get.email}' onclick='this.value=""' name = 'email' type="text" aria-controls="DataTables_Table_1">
	                    	<button class='btn btn-primary'>搜索</button>
	                    </label>
	                </div>
                </form>

                <table class="mws-datatable-fn mws-table dataTable" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info">
                    <thead>
                        <tr role="row">
                        	<th style='width:"10%"' class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 133px;">ID
                        	</th>

                        	<th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 133px;">Group
                        	</th>

                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 178px;">Pic
                            </th>

                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 165px;">Name
                            </th>

                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 115px;">Email
                            </th>

                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 83px;">Login_ip
                            </th>

                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 83px;">Login_time
                            </th>

                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 83px;">status
                            </th>

                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 83px;">Action
                            </th>
                        </tr>
                    </thead>
                    
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        <foreach name='list' item='vo' key='k'>
               				<if condition='$k%2 eq 0'>
                        		<tr class="odd">
               				<else />
               					<tr class="even">
               				</if>
                                <td class="  sorting_1">{$vo['id']}</td>
                                <!-- <td class="  sorting_1">{:group($vo['groupid'])}</td> -->
                                <td class="  sorting_1">{$vo['group_name']}</td>
                                <td class=" "> <img src="/ThinkPhp/{$vo['pic']|default="Public/Upload/aaa.jpg"}"></td>
                                <td class=" ">{$vo['name']}</td>
                                <td class=" ">{$vo['email']}</td>
                                <td class=" ">{$vo['ip']}</td>
                                <td class=" ">{:date("Y-m-d H:i:s",$vo['last_login'])}</td>
                                <td class=" ">{:status($vo['status'])}</td>
                                <td class=" ">
                                	<a href="__URL__/edit/id/{$vo['id']}"><i class='icon-pencil'></i></a> | 
                                	<a href="__URL__/del/id/{$vo['id']}"><i class='icon-trash'></i></a>
                                </td>
                            </tr>
                        </foreach>
                    </tbody>

                </table>
            
               	<div class="dataTables_paginate paging_full_numbers" id="DataTables_Table_1_paginate">
                {$url}
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- Inner Container End -->
                   
        <!-- Footer -->
        <div id="mws-footer">
        	welcome to myweb
        </div>
        
    </div>

</block>

<block name='js'>
	<script type="text/javascript">
		//获取当前页数
		var p = {$p};
		$('#DataTables_Table_1_paginate a').each(function(){
			if(p==$(this).html()){
				$(this).addClass('paginate_active');//paginate_button
			}else{
				$(this).addClass('paginate_button');//paginate_button
			}
		});
	</script>
</block>