<extend name='layout:admin-index' />

<block name='content'>

	<div id="mws-container" class="clearfix">

	<div class="container">
   		<!-- 信息提示 -->
			<include file='layout:info' />
		<!-- 信息提示 -->

		<div class="mws-panel grid_8">
        	<div class="mws-panel-header">
            	<span>添加管理员</span>
            </div>

            <div class="mws-panel-body no-padding">
            	<form class="mws-form" action="__URL__/dochange" method='post'>
            		<div class="mws-form-inline">
            			<div class="mws-form-row">
            				<label class="mws-form-label">Old Pass:</label>
            				<div class="mws-form-item">
            					<input type="text" class="small" name='oldpass' placeholder='请输入您的原密码'>
            				</div>
            			</div>

            			<div class="mws-form-row">
            				<label class="mws-form-label">New Pass:</label>
            				<div class="mws-form-item">
            					<input type="password" class="small" name='pass' placeholder='请输入您的新密码'>
            				</div>
            			</div>

            			<div class="mws-form-row">
            				<label class="mws-form-label">confirm Pass:</label>
            				<div class="mws-form-item">
            					<input type="password" class="small" name='conpass' placeholder='请确认您的密码'>
            				</div>
            			</div>

            			

            		<div class="mws-button-row">
            			<input type="submit" value="Submit" class="btn btn-danger">
            			<input type="reset" value="Reset" class="btn ">
            		</div>
            	</form>
            </div>    	
        </div>
    </div>
</block>